build/*
lib/modules/*
bin/AbilityFramework
build/.cmake
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.25.1/CMakeCCompiler.cmake
CMakeFiles/3.25.1/CMakeCXXCompiler.cmake
CMakeFiles/3.25.1/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.25.1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.25.1/CMakeSystem.cmake
CMakeFiles/3.25.1/CompilerIdC/a.out
CMakeFiles/3.25.1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.25.1/CompilerIdCXX/a.out
CMakeFiles/3.25.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/AbilityFramework.dir/build.make
CMakeFiles/AbilityFramework.dir/cmake_clean.cmake
CMakeFiles/AbilityFramework.dir/compiler_depend.internal
CMakeFiles/AbilityFramework.dir/compiler_depend.make
CMakeFiles/AbilityFramework.dir/compiler_depend.ts
CMakeFiles/AbilityFramework.dir/depend.make
CMakeFiles/AbilityFramework.dir/DependInfo.cmake
CMakeFiles/AbilityFramework.dir/flags.make
CMakeFiles/AbilityFramework.dir/link.txt
CMakeFiles/AbilityFramework.dir/progress.make
CMakeFiles/AbilityFramework.dir/src/main.cpp.o
CMakeFiles/AbilityFramework.dir/src/main.cpp.o.d
CMakeFiles/AbilityFramework.dir/src/controller/cloud_connection.cc.o
CMakeFiles/AbilityFramework.dir/src/controller/cloud_connection.cc.o.d
CMakeFiles/AbilityFramework.dir/src/controller/cloud_tcp_connection.cpp.o
CMakeFiles/AbilityFramework.dir/src/controller/cloud_tcp_connection.cpp.o.d
CMakeFiles/AbilityFramework.dir/src/controller/connection_manager.cpp.o
CMakeFiles/AbilityFramework.dir/src/controller/connection_manager.cpp.o.d
CMakeFiles/AbilityFramework.dir/src/controller/controller.cpp.o
CMakeFiles/AbilityFramework.dir/src/controller/controller.cpp.o.d
CMakeFiles/AbilityFramework.dir/src/controller/dbmanager.cpp.o
CMakeFiles/AbilityFramework.dir/src/controller/dbmanager.cpp.o.d
CMakeFiles/AbilityFramework.dir/src/controller/edge_udp_connection.cc.o
CMakeFiles/AbilityFramework.dir/src/controller/edge_udp_connection.cc.o.d
CMakeFiles/AbilityFramework.dir/src/controller/global_var.cpp.o
CMakeFiles/AbilityFramework.dir/src/controller/global_var.cpp.o.d
CMakeFiles/AbilityFramework.dir/src/controller/json_yaml_convert.cpp.o
CMakeFiles/AbilityFramework.dir/src/controller/json_yaml_convert.cpp.o.d
CMakeFiles/AbilityFramework.dir/src/controller/message_package_struct.cpp.o
CMakeFiles/AbilityFramework.dir/src/controller/message_package_struct.cpp.o.d
CMakeFiles/AbilityFramework.dir/src/controller/common/ability_struct.cpp.o
CMakeFiles/AbilityFramework.dir/src/controller/common/ability_struct.cpp.o.d
CMakeFiles/AbilityFramework.dir/src/controller/common/cameradevice_instance.cpp.o
CMakeFiles/AbilityFramework.dir/src/controller/common/cameradevice_instance.cpp.o.d
CMakeFiles/AbilityFramework.dir/src/controller/common/common_struct.cpp.o
CMakeFiles/AbilityFramework.dir/src/controller/common/common_struct.cpp.o.d
CMakeFiles/AbilityFramework.dir/src/controller/common/Instance.cpp.o
CMakeFiles/AbilityFramework.dir/src/controller/common/Instance.cpp.o.d
CMakeFiles/AbilityFramework.dir/src/controller/common/loudspeakerdevice_instance.cpp.o
CMakeFiles/AbilityFramework.dir/src/controller/common/loudspeakerdevice_instance.cpp.o.d
CMakeFiles/AbilityFramework.dir/src/controller/common/sensordevice_instance.cpp.o
CMakeFiles/AbilityFramework.dir/src/controller/common/sensordevice_instance.cpp.o.d
CMakeFiles/AbilityFramework.dir/src/controller/mongoose/mongoose.c.o
CMakeFiles/AbilityFramework.dir/src/controller/mongoose/mongoose.c.o.d
CMakeFiles/AbilityFramework.dir/src/discoverymanager/audiodevs.cpp.o
CMakeFiles/AbilityFramework.dir/src/discoverymanager/audiodevs.cpp.o.d
CMakeFiles/AbilityFramework.dir/src/discoverymanager/camdevs.cpp.o
CMakeFiles/AbilityFramework.dir/src/discoverymanager/camdevs.cpp.o.d
CMakeFiles/AbilityFramework.dir/src/discoverymanager/discoverymanager.cpp.o
CMakeFiles/AbilityFramework.dir/src/discoverymanager/discoverymanager.cpp.o.d
CMakeFiles/AbilityFramework.dir/src/discoverymanager/dispdevs.cpp.o
CMakeFiles/AbilityFramework.dir/src/discoverymanager/dispdevs.cpp.o.d
CMakeFiles/AbilityFramework.dir/src/discoverymanager/localhw_discovery.cpp.o
CMakeFiles/AbilityFramework.dir/src/discoverymanager/localhw_discovery.cpp.o.d
CMakeFiles/AbilityFramework.dir/src/eventhandler/eventhandler.cpp.o
CMakeFiles/AbilityFramework.dir/src/eventhandler/eventhandler.cpp.o.d
CMakeFiles/AbilityFramework.dir/src/plugincore/pluginload.cpp.o
CMakeFiles/AbilityFramework.dir/src/plugincore/pluginload.cpp.o.d
CMakeFiles/Module_A.dir/build.make
CMakeFiles/Module_A.dir/cmake_clean.cmake
CMakeFiles/Module_A.dir/compiler_depend.internal
CMakeFiles/Module_A.dir/compiler_depend.make
CMakeFiles/Module_A.dir/compiler_depend.ts
CMakeFiles/Module_A.dir/depend.make
CMakeFiles/Module_A.dir/DependInfo.cmake
CMakeFiles/Module_A.dir/flags.make
CMakeFiles/Module_A.dir/link.txt
CMakeFiles/Module_A.dir/progress.make
CMakeFiles/Module_A.dir/src/plugincore/pluginload.cpp.o
CMakeFiles/Module_A.dir/src/plugincore/pluginload.cpp.o.d
CMakeFiles/ability_mgr.dir/build.make
CMakeFiles/ability_mgr.dir/cmake_clean.cmake
CMakeFiles/ability_mgr.dir/compiler_depend.internal
CMakeFiles/ability_mgr.dir/compiler_depend.make
CMakeFiles/ability_mgr.dir/compiler_depend.ts
CMakeFiles/ability_mgr.dir/depend.make
CMakeFiles/ability_mgr.dir/DependInfo.cmake
CMakeFiles/ability_mgr.dir/flags.make
CMakeFiles/ability_mgr.dir/link.txt
CMakeFiles/ability_mgr.dir/progress.make
CMakeFiles/ability_mgr.dir/src/abilitymanager/abimanager.cpp.o
CMakeFiles/ability_mgr.dir/src/abilitymanager/abimanager.cpp.o.d
CMakeFiles/connection_mgr.dir/build.make
CMakeFiles/connection_mgr.dir/cmake_clean.cmake
CMakeFiles/connection_mgr.dir/compiler_depend.internal
CMakeFiles/connection_mgr.dir/compiler_depend.make
CMakeFiles/connection_mgr.dir/compiler_depend.ts
CMakeFiles/connection_mgr.dir/depend.make
CMakeFiles/connection_mgr.dir/DependInfo.cmake
CMakeFiles/connection_mgr.dir/flags.make
CMakeFiles/connection_mgr.dir/link.txt
CMakeFiles/connection_mgr.dir/progress.make
CMakeFiles/connection_mgr.dir/src/connmanager/connmanager.cpp.o
CMakeFiles/connection_mgr.dir/src/connmanager/connmanager.cpp.o.d
CMakeCache.txt
.gitignore
CMakeLists.txt.bak
.gitignore
.vscode/settings.json
.vscode/
CMakeFiles/
build/
CMakeCache.txt
Makefile
cmake_install.cmake
lib/modules/libModule_A.so
lib/modules/libconnection_mgr.so
.gitignore
.gitignore
lib/modules/libability_mgr.so
log/abiltyframework-cpp.INFO
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-014218.125282
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-014609.125713
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-014946.126136
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-015854.126739
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-020032.127212
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-020454.127441
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-020728.127815
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-020942.128659
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-113309.130831
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-202006.165910
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-203941.168352
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-210045.169636
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-210411.170228
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-211044.171292
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-211427.171811
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-211852.172362
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-212313.172982
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-212623.173437
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-213414.175119
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-220418.179900
log/abiltyframework-cpp.wtq-Nitro-AN515-58.wtq.log.INFO.20230723-223738.182429
